<div class="row">
    <div class="col-md-9 center content">
        <form method="post">
            <div class="form-group">
                <label for="adress">Adresse du serveur d'agents</label>
                <input type="text" class="form-control" id="adress" name="adress" value="{$agentConfData.adress}">
            </div>

            <div class="form-group">
                <label for="port">Port du serveur d'agents</label>
                <input type="text" class="form-control" id="port" name="port" value="{$agentConfData.port}">
            </div>

            <button type="submit" class="btn btn-default">Mettre à jour</button>
        </form>
    </div>

    {include file='nav.html'}
</div>