<div class="row">
    <div class="col-md-10 center content">
        <h1 class="text-center">Derniers scans</h1>

        <table class="table tableW100">
            <thead>
                <tr class="active">
                    <td>
                        <h3>#</h3>
                    </td>
                    <td>
                        <h3>Date</h3>
                    </td>
                    <td>
                        <h3>Durée</h3>
                    </td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <p>0</p>
                    </td>
                    <td>
                        <p>16/04/2015</p>
                    </td>
                    <td>
                        <p>25 min 12 sec</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>0</p>
                    </td>
                    <td>
                        <p>16/04/2015</p>
                    </td>
                    <td>
                        <p>25 min 12 sec</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>