<div class="row">
    <div class="col-md-10 center content">

        <a href="?p=conf&a=all" data-toggle="tooltip" data-placement="top" title="Configuration"><span class="glyphicon glyphicon-wrench icon" aria-hidden="true"></span></a>
        <a href="?p=scan&a=launch" data-toggle="tooltip" data-placement="top" title="Lancer un scan"><span class="glyphicon glyphicon-play icon" aria-hidden="true"></span></a>
        <a href="?p=scan&a=check" data-toggle="tooltip" data-placement="top" title="Détécter une intrusion"><span class="glyphicon glyphicon-eye-open icon" aria-hidden="true"></span></a>

        <table class="table tableW100 scroll">
            <thead>
                <tr class="active">
                    <td>
                        <h4>#</h4>
                    </td>
                    <td>
                        <h4>Date debut</h4>
                    </td>
                    <td>
                        <h4>Date fin</h4>
                    </td>
                    <td>
                        <h4>Référence</h4>
                    </td>
                    <td>
                        <h4>Outils</h4>
                    </td>
                </tr>
            </thead>

            <tbody>
                {foreach from=$scanData item=scan}
                    <tr>
                        <td>
                            <p>{$scan.id}</p>
                        </td>
                        <td>
                            <p>{$scan.date_debut}</p>
                        </td>
                        <td>
                            <p>{$scan.date_fin}</p>
                        </td>
                        <td>
                            {if $scan.id eq $refId }
                                <span class="glyphicon glyphicon-ok icon" aria-hidden="true"></span>
                            {else}
                                <span class="glyphicon glyphicon-remove icon" aria-hidden="true"></span>
                            {/if}
                        </td>
                        <td>
                            <a href="?p=result&a=detail&id={$scan.id}" data-toggle="tooltip" data-placement="left" title="Voir les détails"><span class="glyphicon glyphicon-search icon" aria-hidden="true"></span></a>
                            <a href="?p=index&a=delete&id={$scan.id}" data-toggle="tooltip" data-placement="right" title="Supprimer"><span class="glyphicon glyphicon-remove icon" aria-hidden="true"></span></a>
                            <a href="?p=index&a=ref&id={$scan.id}" data-toggle="tooltip" data-placement="right" title="Passer en référence"><span class="glyphicon glyphicon-fire icon" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                {/foreach}
            </tbody>
        </table>
    </div>

    {include file='nav.html'}
</div>