<script type="application/javascript">
    {literal}
        var randomScalingFactor = function(){ return Math.round(Math.random()*100)};
        var lineChartData = {
            labels : ["1","2","3","4","5"],
            datasets : [
                {
                    label: "Nombre de fichiers",
                    fillColor : "rgba(50,50,50,0.2)",
                    strokeColor : "rgba(10,10,10,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    pointHighlightFill : "#fff",
                    pointHighlightStroke : "rgba(220,220,220,1)",
                    data : [{/literal}{$scanData4.0}{literal},{/literal}{$scanData3.0}{literal},{/literal}{$scanData2.0}{literal},{/literal}{$scanData1.0}{literal},{/literal}{$scanData0.0}{literal}]
                },


                    {
                        label: "Fichier intégre",
                        fillColor : "rgba(0,255,0,0.2)",
                        strokeColor : "rgba(220,220,220,1)",
                        pointColor : "rgba(220,220,220,1)",
                        pointStrokeColor : "#fff",
                        pointHighlightFill : "#fff",
                        pointHighlightStroke : "rgba(220,220,220,1)",
                        data : [{/literal}{$scanDataV4.0}{literal},{/literal}{$scanDataV3.0}{literal},{/literal}{$scanDataV2.0}{literal},{/literal}{$scanDataV1.0}{literal},{/literal}{$scanDataV0.0}{literal}]
                },



                    {
                        label: "Fichier non intégre",
                        fillColor : "rgba(255,0,0,0.2)",
                        strokeColor : "rgba(220,220,220,1)",
                        pointColor : "rgba(220,220,220,1)",
                        pointStrokeColor : "#fff",
                        pointHighlightFill : "#fff",
                        pointHighlightStroke : "rgba(220,220,220,1)",
                        data : [{/literal}{$scanDataF4.0}{literal},{/literal}{$scanDataF3.0}{literal},{/literal}{$scanDataF2.0}{literal},{/literal}{$scanDataF1.0}{literal},{/literal}{$scanDataF0.0}{literal}]
                }
            ]



        }
        window.onload = function(){
            var ctx = document.getElementById("myChart").getContext("2d");
            window.myLine = new Chart(ctx).Line(lineChartData, {
                responsive: true
            });
        }
    {/literal}
</script>

<div class="row">
    <div class="col-md-10 center content">
        <h3 class="txt-center">Résultat des 5 derniers scans</h3>
        <div class="div-center w80 h80">
            <canvas id="myChart"></canvas>
            <p class="stat-legend left txt-blue">Bleu : nombre de fichiers scannés</p>
            <p class="stat-legend right txt-green">Vert : fichiers intégres</p>
            <p class="stat-legend center txt-red">Rouge : Fichier altérés</p>
        </div>
    </div>

    {include file='nav.html'}
</div>